/* WRITE YOUR CSS CODE HERE */


body {background-color:#eaeaea; color:#303030;font:0.8em/1.5 "arial", sans-serif;}

* {margin:0; padding:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border:0; outline:0; vertical-align:baseline; background:transparent;}
.hidden {position:absolute; left:-1000em; top:-1000em; width:1px; height:1px; overflow:hidden;}
.noscreen {display:none;}
.box {min-height:1px;}
.box:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}
.fix {float:none; clear:both; width:0; height:0; margin:0; padding:0; border:0; line-height:0; font-size:0;}
.f-left {float:left !important;}
.f-right {float:right !important;}
.t-left {text-align:left !important;}
.t-center {text-align:center !important;}
.t-right {text-align:right !important;}
.t-justify {text-align:justify !important;}
.va-top {vertical-align:top !important;}
.va-middle {vertical-align:middle !important;}
.va-bottom {vertical-align:bottom !important;}
.nom {margin:0 !important;}
.nomt {margin-top:0 !important;}
.nomb {margin-bottom:0 !important;}

/* LINKS */
a {color:#0085cc;}
a:hover, a:active, a:focus {color:#df0000;}
h1, h2, h3, h4, h5, h6, address, blockquote, dl, fieldset, ol, p, table, ul {margin:15px 0;}

/* MESSAGES */
.msg.warning {border:2px solid #F2DD8C; background-color:#FFF5CC;}
.msg.warning a {color:#df0000;} .msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus {color:#303030;}
.msg.info {border:2px solid #B8E2FB; background-color:#E8F6FF;}
.msg.done {border:2px solid #BBDF8D; background-color:#EAF7D9;}
.msg.error {border:2px solid #FFAEAE; background-color:#FEEBEB;}

/* TRAY TOP */
#tray a, #tray strong {color:#fff;}
#tray a:hover, #tray a:active, #tray a:focus {color:#b4e3ff;}
#tray {background-color:#303030; color:#cfcfcf;padding:12px 15px; background:url("tray.gif") 0 0 repeat-x; font:85%/1.2 "tahoma",sans-serif;}
#tray p {margin:0;}
#tray p.f-left {width:50%;}
#tray #logout {padding-left:18px; background:url("tray-logout.gif") 0 50% no-repeat; text-transform:uppercase;}
#tray #switcher {margin-right:15px;}
#tray #switcher img {display:block; float:left; width:16px; height:16px; border:0;}

/* MAIN BODY */
#main {min-width:980px; width:expression(document.body.clientWidth < 980? "980px" : "auto" );}

#menu {padding:15px 15px 13px 15px; background:url("menu.gif") 0 0 repeat-x;}
#menu ul {margin:0; padding:0; list-style-type:none;}
#menu ul li {display:inline; margin:0; padding:0;}
#menu ul li a span{float:left; margin-right:5px; padding-left:5px; background:url("menu-left.gif") 0 0 no-repeat; text-decoration:none; cursor:pointer;}
#menu ul li a span {float:left; display:block; padding:7px 15px 9px 8px; background:url("menu-right.gif") 100% 0 no-repeat;}
#menu ul li a:hover, #menu ul li#menu-active a {background:url("menu-left.gif") 0 -35px no-repeat;}
#menu ul li a:hover span, #menu ul li#menu-active a span {background:url("menu-right.gif") 100% -35px no-repeat;background-color:#FFF;}
#menu ul li#menu-active a {font-weight:bold;}
#menu ul.f-right a {color:#df0000;}


/* CONTENT */
#content {padding:20px; overflow:hidden;border:1px solid #afafaf; background:#fff;}
#content h2 {color:#0085cc;font-size:160%;}
#content h1 {font-size:180%;color:#fff;margin:0; padding:10px 15px; background:url("content-h1.gif") 0 0 repeat-x; letter-spacing:-1px;}


#content table {width:100%; border:2px solid #cfcfcf;margin:0; border-collapse:collapse;}
/*#content table.width100 {width:100%;} */
#content table th {text-align:left; vertical-align:middle; font-weight:bold;border-right:1px solid #0074B3; background-color:#0085cc; color:#fff;padding:5px 5px;}
#content table td {border:1px solid #cfcfcf; padding:5px 5px;}
#content table tr.bg td {background-color:#e8f6ff;}

#content dl dt {color:#df0000;}
#content legend {background:#FFF; color:#0085cc;font-size:120%; font-weight:bold;}
#content acronym, #content abbr, #content .help {border-bottom:1px dotted #cfcfcf;}
#content fieldset {position:relative; margin:10px 0; padding:10px;border:1px solid #ccc;}




.box {min-height:1px;}
.box:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}

/* FOOTER */
#footer {color:#707070;}
#footer a {color:#707070;}
#footer a:hover, #footer a:active, #footer a:focus {color:#303030;}



/* INPUT */

.input-text {padding:3px; font:100%/1.5 "arial", sans-serif;}
.input-text-02 {padding:5px; font:140%/1.5 "arial", sans-serif;}
.input-submit {padding:5px; font-size:120%;}
.input-submit-02 {padding:1px; font-size:100%;}

.bigger {font-size:120%;}
.smaller {font:85%/1.2 "tahoma",sans-serif;}